<?xml version="1.0" encoding="ISO-8859-1" ?>
<easyFramework>

  <!--
	Webpage-Root; needed for global.asax
	 -->
  <webpageRoot>/psvm</webpageRoot>

  <!--
	DATABASE-Connection
	Achtung: als Provider wird aktuell nur SQLOLEDB.1 unterstütz
	
	In Security-Info geben Sie entweder
		- für Windows-Authentifizierung: Integrated Security=SSPI
		- für SQL-Authentifizierung: UID=sa;PWD=swordfish
	ein:
	 -->
  <dbconn>
    <provider>SQLOLEDB.1</provider>
    <datasource>127.0.0.1</datasource>
    <initialCatalog>easyframework</initialCatalog>
    <securityinfo>pwd=yourpass;uid=sa</securityinfo>
  </dbconn>

  <!--
	MAILSERVER, MAILSENDER
	Tragen Sie hier den SMTP-Server ein; ebenso die eMail-Adresse des Absenders
	 -->
  <mail>
    <mailserver>192.168.0.1</mailserver>
    <mailsender>info@easyFramework.de</mailsender>
  </mail>



  <!--
	STARTUP-PAGE
	Tragen Sie hier die Seite an, die als erstes aufgerufen werden soll:
	 -->
  <startupPage modal="1">/ASP/system/login/login.aspx</startupPage>

  <!--
	STARTUP-Logo
	Tragen Sie hier den Namen des Images an, das im Login gezeigt wird:
	 -->
  <startupLogo>/ASP/images/startup/startscreen.jpg</startupLogo>

  <!--
	MAIN WINDOW
	Tragen Sie hier die Seite an, die nach erfolgreichem Login angezeigt werden soll:
	 -->
  <mainPage>/ASP/Main/Main.aspx</mainPage>

  <!--
	Project Title
	 -->
  <projectName>easyFramework</projectName>


  <!--
	temp folder
	 -->
  <tempFolder>/tempFolder</tempFolder>

  <!--
	relative Path to the directory, where the help-files lie:
	 -->
  <HelpFolder>/Help</HelpFolder>


  <!--
	path to the database-update scripts:
	 -->
  <DBUpdateScriptsFolder>/DB</DBUpdateScriptsFolder>

  <!--
	distribution settings
	-->
  <distribution>
    <made_package_folder>/Distribution/madePackages</made_package_folder>
    <received_package_folder>/Distribution/received</received_package_folder>
    <filelist_xml>/ASP/tasks/distribution/filelist.xml</filelist_xml>
    <!-- the receiving asp-file, which gets the package file -->
    <receiving_asp>/ASP/tasks/distribution/receiveProcess.aspx</receiving_asp>
  </distribution>
</easyFramework>
