TABLE.clsTreeView
{
	font-size:8pt;
	font-family:arial,sans-serif;
}
TD.clsTreeNode
{
	cursor:default;
	text-decoration:none;
	padding-left: 2px;
}
TD.clsTreeNodeSel
{
	cursor:default;
	background-color:#426faa;
	color:White;
	padding-left: 2px;
}
TR.clsTreeNode
{
}
TR.clsTreeNodeHide
{
	display:none;
}
